@font-face {
	font-family: 'Pacifico';
	src: url('../fonts/pacifico/Pacifico.ttf');
	font-size: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'futura';
	src: url('../fonts/futura/futura\ light\ bt.ttf');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'futura';
	src: url('../fonts/futura/Futura\ Bold\ font.ttf');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'futura';
	src: url('../fonts/futura/futura\ medium\ bt.ttf');
	font-style: normal;
	font-weight: 200;
}

.bcontent {
	position: relative;
	width: 1366px;
	height: auto;
}

@media screen  and (max-width: 1365px) {
	.bcontent {
		width: 100%;
		position: relative;
	}

	.big {
		width: 100%;
	}
}

@media screen  and (max-width: 766px) {
	.sec{
		width: 100%;
	}
	.navbar{
		width:100%;
		position: absolute;
		top: 0;
		z-index: 10;
	}
	
}

.navbar {
	width: 1366px;
	z-index: 10;
	padding: 10px 0;
	transition: all 200ms linear
}

.navDown{
	z-index: 10;
	background: #fff;
}


.nav-item{
	font-weight: 800;
	text-transform: uppercase;
}

.navbar-light .navbar-brand {
	font-size: 1.5rem;
	font-family: pacifico;
	font-weight: 200;
	margin-left: 5rem;
}



.navbar-light .navbar-nav .nav-item .nav-link {
	margin-right: 4rem;
	color: black;
	font-family: futura;
	font-weight: 200;
	font-size: 1rem;
}

.navbar-light .navbar-toggler{
	border:none;
	color: #fff;
	border: 2px solid #7f7f7f;
	border-radius: 0;
	outline: none;
}



.navbar-light .navbar-toggler .collapsed{
	text-align: right;
}

.sec {
	width: 1366px;
	height: auto;
	padding: 2rem 5rem;
}


.carousel {
	margin-top: -200px;
	width: 1366px;
	max-height: 200vh;
	position: absolute;
}

.sr-only {
	margin-top: 2rem;
}

.big {
	position: absolute;
	left: 0;
	right: 0;
	font-family: Pacifico;
	color: #0000000d;
	color: #cac5c5;
	font-size: 5rem;
	z-index: -1;
	font-weight: 600;
	margin-top: -0.1rem;
}

.subHeading {
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: 1rem;
	text-transform: uppercase;
	position: relative;
	margin-top: 6rem;
	display: inline-block;
}

.futura-head {
	font-family: futura;
	font-weight: 700;
}

.futura-content {
	font-family: futura;
	font-weight: 200;
}

.sc {
	font-size: 13.5px;
}

.is {
	font-size: 15.5px;
}

.pacifico {
	font-family: Pacifico;
	font-weight: 200;
}

.centered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, 50%);
}

.image img{
	width: 350px;
	height: 250px;
}